* {
	margin: 0;
	padding: 0;
}
@import 'antd/dist/antd.css';
*::-webkit-scrollbar {
	display: none;
}
* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
